@import '../../responsive.scss';

.layout{
  height:100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  
  @include lg{
    // background-color: rgb(254, 218, 205);
    max-width: 1280px;
  }

  @include md{
    // background-color: rgb(198, 211, 234);
    max-width: 764px;
  }

  @include sm{
    // background-color: rgb(181, 138, 168);
    max-width: 540px;
  }

  .content{
    // flex: 1;
    height: calc(100vh - 100px);
  }
}